<footer>
    <img src="../img/logo.jpg" alt="">
    <p>Skater apparel for all</p>
    <p>3133 Rue Crescent 🛹 Montreal, QC 🛹 H2L4D3 </p>
    <p>📞 +1 (514) 658-9874</p>
</footer>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&family=Kumbh+Sans:wght@300;400;500;600;700;900&family=Lato:ital,wght@0,300;0,400;0,700;1,900&family=Permanent+Marker&display=swap');
    *{
        margin:0;
    }
    footer{
        background-color: black;
        text-align: center;
        padding-top:10px;
    }
    img{
        width:100px;
    }
    p{
        font-family: 'Permanent Marker', cursive;
        color: white;
    }
    
</style>